extends layout

block content
  h1=title
  
  ul(class="list-group")
    each category in category_list
      li(class="list-group-item")
        a(href=category.url) #{category.name}
    else
      li No created categories