extends layout

block content
  h1=title


  ul(class="list-group")
    each item in item_list
      li(class="list-group-item")
       a(href=item.url )  #{item.manufacturer.name} #{item.name}
            